<h1><%= "id:#{@post.id} - #{@post.title}" %></h1>

<div class="row">
  <div class="col-md-12">
  <p><%= @post.body %></p>

  <% if policy(@post).edit? %>
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
  <% end %>

  <% if @post.summary %>
    
    <%= link_to "Summary(id:#{@post.summary.id}): #{@post.summary.description}", post_summary_path(@post) %>
  <% else %>
    <hr>
    <%= link_to "Create Summary", new_post_summary_path(@post), class: 'btn btn-success' %>
  <% end %>
  </div>
</div>